In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [3]:
df = pd.read_csv("Book1.csv")
df

    X1   X2    X3  Target
0  2.9  9.2  13.2     2.0
1  2.4  8.7  11.5     3.0
2  2.0  7.2  10.8     4.0
3  2.3  8.5  12.3     2.0
4  3.2  9.6  12.6     NaN
5  1.9  6.8  10.6     5.0
6  3.4  9.7  14.1     1.0
7  2.1  7.9  11.2     3.0

In [6]:
import math
med_Target=math.floor(df.Target.median())
med_Target

3

In [10]:
df.Target= df.Target.fillna(med_Target)
df

    X1   X2    X3  Target
0  2.9  9.2  13.2     2.0
1  2.4  8.7  11.5     3.0
2  2.0  7.2  10.8     4.0
3  2.3  8.5  12.3     2.0
4  3.2  9.6  12.6     3.0
5  1.9  6.8  10.6     5.0
6  3.4  9.7  14.1     1.0
7  2.1  7.9  11.2     3.0

In [12]:
reg=linear_model.LinearRegression()
reg.fit(df[['X1','X2','X3']],df.Target)

LinearRegression()

In [13]:
reg.predict([[1.8,7.3,11.2]])

C:\Users\acer\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3.12258405])